
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  scroll-behavior: smooth;
  outline: none;
  border: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


p {
  font-size: 1.05rem;
  color: var(--text-color);
}

main {
  margin: 0 auto;
}

button {
  width: 9rem;
  padding: .7rem;
  border-radius: .4rem;
  margin: 0 auto;
  background-color: var(--main-color);
  color: var(--bg-color);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 .7rem rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

button:hover, button:focus, button:active {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
  transform: scale(1.05);
}


body {
  background: var(--bg-color);
}

/* main {
  margin-left: 10rem;
} */

:root {
  --bg-color: white;
  --text-color: #080707;
  --main-color: #c72020;
  --orange-color: #F75D0A;
  --gradient-color: radial-gradient(circle at 8% 64%, #C72020 27%, #F75D0A 68%); 
}

.gradient {
  background: var(--gradient-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient__text {
  font-size: 1.25rem;
  font-weight: 500;
  background: var(--gradient-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

/* gradients */
{

  /* ff 3.6+ */
  background:-moz-radial-gradient(circle at 8% 64%, #C72020 27%, #F75D0A 68%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 8% 64%, #C72020 27%, #F75D0A 68%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 8% 64%, #C72020 27%, #F75D0A 68%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 8% 64%, #C72020 27%, #F75D0A 68%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 8% 64%, #C72020 27%, #F75D0A 68%);

}

#menu-icon {
  font-size: 3rem;
  color: #454545;
  display: none;
}

#darkMode-icon {
  /* position: absolute;
  top: 0.2rem;
  right: 0.8rem; */
  font-size: 1.8rem;
  color: #3b08a1;
  /* margin-bottom: .1rem; */
}

.dark-mode {
  --bg-color: #1a1a1a;
  color: #F75D0A;
  --text-color: #fff;
  --shadow-color: rgba(0,0,0,0.7);
}

.dark-mode #darkMode-icon {
  color: gold;
}

.dark-mode .mobile__navbar {
  background-color: #1a1a1a;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  border-right: solid .3rem #f2f3f5;
  border-top: solid .3rem #f2f3f5;
  border-bottom: solid .3rem #f2f3f5;
  top: 10%;
  left: 0;
  bottom: 20%;
  width: 5rem;
  background: transparent;
  /* padding-right: .2rem;
  padding-left: .4rem; */
}

.header .navbar {
  background-color: var(--bg-color);
}

.navbar a {
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #f2f3f5;
  transition: .4s ease;
  background: var(--main-color);
  border-radius: 50%;
  padding: .8rem;
}

.navbar a:hover {
  transform: scale(1.12);
}

.navbar__label {
  position: absolute;
  left: 2rem;
  top: 2.5rem;
  width: 4rem;
  font-size: .8rem;
  font-weight: 600;
  text-align: center;
  background-color: black;
  color: #fff;
  opacity: 0;
  padding: .4rem;
  z-index: -900;
  /* transition: opacity 0.2s ease; */
}

.navbar a:hover i,
.navbar a:hover {
  background: var(--main-color);
}

.navbar a:hover i + .navbar__label {
  opacity: 1;
}

/* ===== Mobile Nav ===== */

.mobile__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  margin-bottom: 3rem;
}

.mobile__navbar {
  width: 100%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  /* padding: 0.7rem 1.5rem; */
  /* box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1); */
}

.mobile__navbar > * {
  flex: 1;
}

.mobile__navbar a, #darkMode-icon {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile__navbar i {
  color: gold;
  font-size: 1.2rem;
  font-weight: 600;
  background: transparent;
  border: 2.5px solid gray;
  padding: 4px;
  border-radius: 50%;
}

.mobile__navbar i:hover {
  transform: scale(1.2);
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.4);
}

.mobile__header .mobile__navbar {
  background-color: var(--bg-color);
}

.hamburger {
  /* display: none; */
  position: fixed;
  left: 10%;
  top: 2px;
  z-index: 9999;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--main-color);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid .3rem #f2f3f5;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--main-color);
}

.nav-link:hover {
  color: #454545;
}

.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 100%;
}

.home__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.home__content img {
  margin: -5rem auto 0;
  width: 60%;
}

.home__container h1 {
  margin-top: 0;
}

.home__container p {
  margin: 1.5rem auto 1rem;
  line-height: 2rem;
  width: 100%;
}

.scroller {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.2em;
  font-size: 2rem;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
}

.home__content .scroller span {
  background: var(--main-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 auto;
  position: absolute;
  top: 0;
  animation: slide 5.1s linear infinite 2s;
  font-size: 1.2rem;
  font-weight: bold;
}

@keyframes slide {
  0% {
    top: 0;
  }
  33.33% {
    top: -1.2rem;
  }
  66.66% {
    top: -2.4em;
  }
  100% {
    top: -3.6em;
  }
}

.social-media {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem auto 0;
}

.social-media a {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--orange-color);
  transition: 0.6s ease;
}

.social-media a:hover {
  transform: scale(1.15);
  color: var(--main-color);
}

.contact-info {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: 1rem auto 0;
  flex-wrap: wrap;
  justify-content: center;
}

.info {
  flex: 1 1;
  margin: 0 2rem 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.info h4 {
  margin-right: 0.5rem;
  font-size: 1.15rem;
}

.info i {
  font-size: 1.4rem;
  font-weight: 600;
  margin-right: 1.5rem;
  margin-left: 1rem;
  color: gold;
  background: transparent;
  border: 2.5px solid gray;
  padding: 4px;
  border-radius: 50%;
}

.info i:hover {
  transform: scale(1.2);
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.4);
}

.home__button button {
  width: 9rem;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1rem auto;
}


/* SERVICES */

/* .services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
} */
.services__header {
  display: flex;
  margin: 0 auto;
}

.services__header-h2 {
  display: flex;
  margin: 10rem auto 3rem;
}

.services__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto 0 8rem;
  max-width: 62.5rem;
}

.services__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 62.5rem;
}

.services__content-img {
  display: flex;
  width: 37vw;
  height: 440px;
  justify-content: center;
  align-items: center;
}


/* swiper styles */

.swiper {
  margin: 100px auto;
  width: 320px;
  height: 340px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  padding: 2.5rem 1.5rem;
}

.swiper-slide li {
  list-style-type: disc;
  font-size: 0.9rem;
  line-height: 1.4rem;
}

.swiper-slide p {
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.swiper-slide h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
  text-decoration: underline;
}

.swiper-slide i {
  position: absolute;
  right: 6px;
  bottom: 10px;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.services__button button {
  width: 9rem;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1rem auto 0;
}

/* button.view-services:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
  transform: scale(1.05);
} */

/* PORTFOLIO */
.portfolio__header {
  display: flex;
  margin: 4.5rem auto 2rem;
}

.portfolio__header-h2 {
  display: flex;
  margin: 4.5rem auto 3rem;
}

.portfolio__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;
  row-gap: 4rem;
  max-width: 62.5rem;
  margin: 0 auto 0 8rem;
}

.portfolio__video video {
  width: 100%;
}

.portfolio__video {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.portfolio__video:hover video {
  opacity: 0.3;
  transform: scale(1.1);
}

.title {
  position: relative;
  top: -0.4rem;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  font-size: 1.4rem;
  font-weight: 500;
  color: #454545;
  text-align: center;
}

.portfolio__video:hover .title {
  opacity: 1;
}

.portfolio__button button {
  width: 9rem;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 2rem auto 0;
}

/* ABOUT */
.about__header {
  display: flex;
  margin: 0 auto;
}

.about__header-h2 {
  display: flex;
  margin: 15rem auto .5rem;
}

.about__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 62.5rem;
  margin-left: 3rem;
}

.about__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 25rem;
  margin-left: 10rem;
}

.about__content p {
  display: flex;
  justify-content: flex-end;
  line-height: 2rem;
  width: 100%;
  margin: 2rem auto;
}

.about-img {
  width: 395px;
  height: 395px;
  margin-left: 3rem;
}

.about-img .about-img__background {
  position: relative;
  width: 100%;
  height: 100%;
  background: #f2f3f5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img .about-img__background::after {
  content: '';
  position: absolute;
  width: 380px;
  height: 380px;
  background-color: var(--bg-color);
  border-radius: 50%;
}

.about-img__background .image {
  position: relative;
  width: 380px;
  height: 380px;
  border-radius: 50%;
  z-index: 1;
  overflow: hidden;
}

.image img {
  position: absolute;
  top: -15px;
  left: 40%;
  transform: translateX(-50%);
  max-width: 350px;
  object-fit: cover;
}

/* CONTACT */
.contact__header {
  display: flex;
  margin: 0 auto;
}

.contact__header-h2 {
  display: flex;
  margin: 15rem auto .5rem;
}

.contact__container {
  display: flex;
  background-image: url(images/redroom.jpg);
  background-size: cover;
  width: 88%;
  height: 30rem;
  opacity: 0.85;
  margin: 0 auto;
}

/* ----- Contact Form Styles (Need PHP) ----- */
.contact form {
  max-width: 38rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  background: #f2f3f5;
  border-radius: .8rem;
  margin: .3rem 0;
}

.contact form .contact__services-p {
  width: 40%;
  padding: 1rem;
  font-size: 1rem;
  background: #f2f3f5;
  border-radius: .8rem;
  margin: .3rem 0;
  text-align: left;

}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  width: 9rem;
  font-size: 1rem;
  font-weight: 500;
  padding: .7rem;
  margin-top: 2rem;
  cursor: pointer;
}

.form__button {
  width: 10rem;
  padding: .7rem;
  border-radius: 0;
  margin: 0 auto;
  background-color: var(--main-color);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 .7rem rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.form__button:hover, .form__button:focus, .form__button:active {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
  transform: scale(1.05);
}

/* ===== Media Queries ===== */

/* Mobile Phones */
@media screen and (max-width: 480px) {
 .header {
  display: none;
 }

 /* #darkMode-icon {
  right: 1rem;
 } */
 
 main {
  margin: 0 1.4rem;
  max-width: 100%;
 }

 * {
  font-size: 1.05rem;
 }

 .home__content span {
  font-size: 2rem;
 }

 .home__content .gradient__text {
  font-size: 1.25rem;
 }

 .social-media a i {
  font-size: 1.5rem;
 }

 .home__content p {
  margin: 1rem auto -3.5rem;
 }

 .home__content img {
  width: 100%;
  margin: 0 auto;
 }

 .home__button button {
  width: 10rem;
  /* font-size: 1.3rem; */
  font-weight: 500;
  margin-top: 5rem;
 }

 .gradient {
  font-size: 2rem;
 }

 .services__container {
  margin: -2rem auto 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
 }

 .services__header-h2 .gradient {
  font-size: 2.5rem;
 }

 .services__content-img {
  width: 100%;
  margin: 0 auto;
  justify-content: center;
 }

 .services__button button {
  width: 10rem;
  /* font-size: 1.3rem; */
  font-weight: 500;
  margin: 4rem auto;
 }

 .swiper.mySwiper {
  max-width: 85%;
  margin: 2rem auto;
  margin-top: 2rem;
}

 /* OG layout
 .portfolio__container {
  width: 100%;
  margin: 0 auto;
  column-gap: 1.5rem;
  row-gap: 3.5rem;
  text-align: left;
 } */

 .portfolio__container {
  display: flex;
  flex-direction: column;
  margin: 0 0 1rem 0;
 }
 
.portfolio__video {
  width: 100%;
  margin: 0 auto;
  order: 1;
}

#video1 {
  order: 2;
  text-align: center;
  width: 100%;
}


.portfolio__video:nth-of-type(2) {
  order: 3;
}

.portfolio__video:nth-of-type(2) ~ .portfolio__video-description {
  order: 4;
  width: 100%;
  margin: 0 auto;
}
 .portfolio__header-h2 .gradient {
  font-size: 2.5rem;
 }

 .portfolio__button button {
  width: 10rem;
  /* font-size: 1.3rem; */
  font-weight: 500;
  margin-top: 5rem;
 }

 .about__header {
  margin-top: -4rem;
 }

 .about__header-h2 .gradient {
  font-size: 2.4rem;
 }

 .about__container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .about-img {
  margin: 1rem 1rem auto 1rem;
 }

 .about__content {
  width: 100%;
  max-width: 100%;
  margin: 2rem auto 0;
  display: flex;
  justify-content: center;
  text-align: center;
 }

 .about__content p {
  display: flex;
  justify-content: center;
  text-align: center;
 }

 .contact__header {
  margin-top: -4rem;
 }

 .contact__header-h2 .gradient {
  font-size: 2.5rem;
 }
 
}


@media screen and (min-width: 481px) and (max-width: 767px) {
  /* .header {
    display: none;
   } */

   .contact-info {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin: 1rem auto 0;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .info {
    flex: 1 1;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    text-decoration: none;
  }

   main {
    margin: 0 1.4rem;
    max-width: 100%;
   }

   p {
    font-size: 1.25rem;
    width: 100%;
   }

   .home__button button {
    width: 10rem;
    /* font-size: 1.3rem; */
    font-weight: 500;
   }

   .home__container p {
    max-width: 100%;
    margin: 1rem auto;
   }

   .home__content img {
    width: 100%;
    margin: 0 auto;
   }

  .services__container {
    margin: 4rem auto 6rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .services__header-h2 {
    margin: 8.5rem auto 3rem;
  }
  
  .services__container img {
    width: 100%;
    height: 340px;
  }

  .services__content-img {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
   }

  .swiper.mySwiper {
    max-width: 85%;
    margin: 2rem auto;
    margin-top: 2rem;
  }

  .services__button button {
    width: 10rem;
    /* font-size: 1.3rem; */
    font-weight: 500;
    margin-top: 5rem;
    margin: -3rem auto;
  }

  .portfolio__header {
    margin-top: 4.5rem;
  }

  .portfolio__header .gradient {
    margin-bottom: 2.5rem;
  }

  .portfolio__container {
    display: flex;
    flex-direction: column;
    margin: 0 0 1rem 0;
   }
   
  .portfolio__video {
    width: 90%;
    margin: 0 auto;
    order: 1;
  }
  
  #video1 {
    order: 2;
    text-align: center;
    width: 90%;
  }

  
  .portfolio__video:nth-of-type(2) {
    order: 3;
  }
  
  .portfolio__video:nth-of-type(2) ~ .portfolio__video-description {
    order: 4;
    width: 90%;
    margin: 0 auto;
  }

  .portfolio__button button {
    width: 10rem;
    /* font-size: 1.3rem; */
    font-weight: 500;
    margin-top: 5rem;
   }

  .about__header {
    margin-top: -5rem;
  }

  .about__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .about__content {
    max-width: 75%;
    margin-left: 0;
  }

  .about-img {
    margin: 1.5rem auto;
  }

  .contact__header {
    margin-top: -5rem;
  }

}

@media screen and (max-width: 1024px) {

  .navbar {
    display: none;
  }

  #desktop-navbar.hide {
    display: block;
  }

}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    display: block;
   }

   main {
    margin: 0 1.4rem;
    max-width: 100%;
   }

   .home__container p {
    max-width: 75%;
    margin: 0.5rem auto;
   }

   .home__content img {
    width: 60%;
    margin: -3rem auto -1rem;
   }

   .services__container {
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }

  .services__container img {
    width: 50%;
  }

  .portfolio__container {
    width: 100%;
    margin: 0 auto;
    column-gap: 1.5rem;
  }

  .about__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .about-img {
    margin: 1.5rem auto;
  }

  .about__content {
    max-width: 85%;
    margin: 0 auto;
  }

  .about__header,
  .contact__header {
    margin-top: -5rem;
  }

}


@media screen and (min-width: 1025px) and (max-width: 1280px) {
  main {
    margin: 0 1.4rem;
    max-width: 100%;
   }

   .home__container {
    margin: 0 auto;
    width: 90%;
   }

   .home__container p {
    max-width: 100%;
    margin: 0.5rem auto;
   }

   .home__content img {
    width: 60%;
    margin: -5rem auto 0;
  }

   .services__container {
    margin: 0 auto;
    width: 85%;
    justify-content: space-between;
    align-items: center;
  }

  .services__container img {
    width: 50%;
  }

  .portfolio__container {
    width: 85%;
    margin: 0 auto;
    column-gap: 1.5rem;
  }

  .about__container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 88%;
  }

  .about-img {
    margin: 1.5rem auto;
  }

  .about__content {
    margin: 0 auto;
  }

  .about__header,
  .contact__header {
    margin-top: -5rem;
  }
}

@media screen and (min-width: 1025px) {

}


@media screen and (min-width: 1281px) {

}

/* Mobile Menu Media Queries */
@media only screen and (max-width: 1024px) {
  .nav-menu {
    position: fixed;
    height: 40vh;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: var(--bg-color);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 13;
  }

  .nav-menu.active {
    height: 55%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    left: 0;
  }

  .nav-item {
    margin: 1rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media only screen and (min-width: 1025px) {
  .mobile__header {
    display: none;
  }
}